@{
    ViewData["Title"] = "About";
}
@section Stylesheets
{
    <link rel="stylesheet" href="~/css/csspage.css" />
}
<h2 class="m-1">@ViewData["Title"]</h2>

<div class="text-center">
    <h3 class="display-5 font-weight-normal">Bem Vindo ao Teste Do Leonardo para a empresa NOVAVIDATI</h3>

    <p class="small">
        Me conheça um pouco mais entrando no meu linkedin:
        <a href="https://www.linkedin.com/in/leonardo-moreira-b41421194/">https://www.linkedin.com/in/leonardo-moreira-b41421194/</a>
    </p>
    <p class="small">
        Conheça meus Projetos em meu GitHub:
        <a href="https://github.com/leoonn">https://github.com/leoonn</a>
    </p>


</div>
