@model Teste_Junior_Cadastro_de_contatos.Models.ViewModel.ContactViewModel
@{
    ViewData["Title"] = "Create";
}
@section Stylesheets
{
    <link rel="stylesheet" href="~/css/csspage.css" />
}
<h1>Create</h1>

<h4>Contato</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="Contact.Name" class="control-label"></label>
                <input asp-for="Contact.Name" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Phone" class="control-label"></label>
                <input asp-for="Contact.Phone" class="form-control" />
                <span asp-validation-for="Contact.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}